@font-face {
    font-family: "inter";
    src: url(https://www.mintlify.com/_next/static/media/InterVariable-s.p.494bb210.ttf)
        format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "inter", sans-serif;
}

.header-hero {
    background-image: url("https://www.mintlify.com/hero/bg-light.svg");
    background-size: cover;
}

header {
    position: sticky;
    top: 0;
}

.navbar {
    width: 73%;
    padding: 18px 26px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.nav-left img {
    width: 104px;
    height: 24px;
}

.nav-links {
    display: flex;
    /* gap: 6px; */
}

.nav-links a {
    text-decoration: none;
    padding: 6px 14px;
    border-radius: 14px;
    color: #000;
}

.nav-links a:hover {
    background-color: #ffffff0d;
}

.nav-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.nav-right a {
    text-decoration: none;
    color: #000;
    padding: 6px 14px;
    border-radius: 16px;
}

.nav-right .start-button {
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 8px;
    width: 372px;
    margin: auto;
    margin-top: 24px;
    border-radius: 18px;
    padding: 4px;
    background-color: #08090a26;
    color: #fff;
}

.span-1 {
    background-color: #0c8c5e;
    padding: 2px 8px;
    border-radius: 10px;
}

.span-2 {
    font-size: 10px;
    padding: 2px 4px;
    color: #000;
    border-radius: 100%;
    background-color: #fff;
}

.main-headline {
    color: #fff;
    margin-top: 50px;
}

.main-headline h1 {
    text-align: center;
    font-size: 58px;
    font-weight: 700;
    max-width: 688px;
    margin: auto;
}

.main-headline p {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 472px;
    font-size: 18px;
}

.form {
    background-color: #ffffff26;
    max-width: 360px;
    margin: auto;
    padding: 4px 6px;
    border-radius: 24px;
}

form {
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
}

form input,
button {
    appearance: unset;
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
    border: none;
    font-size: 16px;
    color: #fff;
}

form input::placeholder {
    color: #fff;
    opacity: 0.6;
}

form button {
    background-color: #fff;
    color: #000;
    padding: 8px 12px;
    border-radius: 24px;
}

.hero-image {
    margin-top: 100px;
    text-align: center;
}

.hero-image img {
    border-radius: 24px;
}

.trusted-by-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1024px;
    margin: auto;
    margin-top: 100px;
    gap: 90px;
    /* row-gap: 70px; */
}

.trusted-by-logo {
    width: 50px;
    height: 4px;
}

.feature-highlights {
    margin-top: 200px;
}

.highlights {
    margin: auto;
    text-align: center;
}

.highlights h2 {
    width: 600px;
    margin: auto;
    font-weight: 600;
    font-size: 38px;
}

.highlights p {
    width: 600px;
    margin: auto;
    margin-top: 20px;
}

.features-cards {
    display: flex;
    gap: 40px;
    width: 72%;
    margin: auto;
    margin-top: 40px;
}

.feature-card {
    border: 1px solid #08090a26;
    border-radius: 24px;
    width: 495px;
    height: 535px;
    text-align: left;
    padding: 10px;
}

.feature-text {
    text-align: left;
}

.feature-text-p1 {
    color: #0c8c5e;
    font-weight: 500;
    font-size: 12px;
    word-spacing: 4px;
}

.feature-text-p2 {
    color: #08090acc;
}

.feature-text h3 {
    /* max-width: 90%; */
    margin-left: 20px;
    margin-top: 20px;
    font-size: 24px;
}

.feature-text p {
    text-align: left;
    /* max-width: 9; */
}

.feature-image img {
    width: 470px;
    height: 320px;
}

.sub-feature {
    margin-top: 100px;
}

.sub-feature-text-p1 {
    color: #0c8c5e;
    font-size: 12px;
    font-weight: 500;
}

.sub-feature-text-p2 {
    color: #08090acc;
    font-weight: 400;
}

.sub-feature-text h4 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}

.sub-feature-image img {
    margin-top: 40px;
}

.enterprise {
    background-color: #08090a08;
}

.enterprise-div {
    width: 83%;
    margin: auto;
}

.enterprise-text {
    padding-top: 100px;
    display: flex;
    /* justify-content: space-; */
    gap: 300px;
    align-items: flex-end;
}

.enterprise-description h4 {
    color: #0c8c5e;
    font-size: 12px;
    font-weight: 500;
}

.enterprise-description h3 {
    max-width: 500px;
    font-weight: 600;
    font-size: 40px;
    margin-top: 20px;
}

.enterprise-description p {
    color: #08090acc;
    margin-top: 20px;
}

.enterprise-text a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px 28px;
    border-radius: 40px;
}

.enterprise-cards {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.enterprise-card {
    width: 500px;
    height: 200px;
}

.enterprise-card img {
    width: 34px;
}

.enterprise-card h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.enterprise-card p {
    margin-top: 10px;
    color: #08090acc;
}

.anthropic-image img {
    width: 1200px;
}

.anthropic-trusted {
    margin-top: 20px;
}

.customer-stories {
    margin-top: 120px;
}
